/* Playlist Page */
.playlist-page-header {
    display: flex;
    color: var(--text-base);
    height: 300px;
    gap: 30px;

    .image {
        box-shadow: 0 4px 60px rgba(0,0,0,.5);
    }

    .name {
        font-size: 6rem;
    }

    .type {
        font-size: 0.8125rem;
    }

    .description {
        ont-size: 0.8125rem;
        color: var(--text-subdued);
    }
}

/* Actions */
.playlist-page-actions {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

    .follow-button, .more-button {
        color: #bbc2bd;
    }
}

/* Table */

.playlist-page-table {
    border-collapse: collapse;
    width: 100%;

    & a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & thead {
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        position: sticky;
        top: 65px;
        padding: 0 10px;
    }

    & tbody tr:first-child {
        display: block;
        height: 20px;
        /* width: 30px; */
    }

    & th {
        color: var(--text-base);
        font-size: 0.8125rem;
        font-weight: 700;
        text-align: left;
        padding: 10px 0;
    }

    & td:first-child, & th:first-child {
        text-align: center;
        color: var(--text-subdued);
        font-size: 1rem;

        position: relative;
        width: 70px;
    }

    & td {
        color: var(--text-subdued);
        font-size: 0.8125rem;
        font-weight: 400;
        text-align: left;
        padding: 10px 0;

        &:nth-child(2) {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .album-name, .artist-name {
            display: block;
            color: var(--text-subdued);
            font-size: 14px;
        }

        .track-name {
            color: var(--text-base);
            font-size: 16px;
        }
    }

    & tr.active {
        & td:first-child {
            color: var(--color-primary);
        }

        & td:nth-child(2) .track-name {
            color: var(--color-primary);
        }
    }

    & svg {
        color: var(--text-subdued);
    }

    .play svg {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .like svg, .more svg, .play svg {
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    & tbody tr:hover {
        background-color: #282828;

        .like svg, .more svg, .play svg {
            visibility: visible;
        }

        .play span {
            visibility: hidden;
        }
    }
}
