.playlist-section {
    margin-bottom: 20px;
}

.playlist-section-header {
    display: flex;
    justify-content: space-between;

    & h2 {
        margin-block: 0px;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-base);
        margin-bottom: 20px;
    }

    & button {
        color: var(--text-subdued);
    }
}

.playlist-section-items {
    display: flex;
    gap: 25px;
    overflow: hidden;
}

.playlist-item {
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;

    background-color: #181818;

    &:hover {
        background-color: #282828;

        .playlist-item-content button {
            opacity: 1;
            transform: translateY(0);
        }
    }

    & a {
        text-decoration: none;
    }

    & img {
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 8px 24px rgba(0,0,0,.5);
    }

    & p {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .playlist-item-content {
        position: relative;

        & button {
            transition: all .3s ease;

            opacity: 0;
            transform: translateY(8px);

            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    .playlist-item-name {
        color: var(--text-base);
        font-size: 1rem;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 5px;

        -webkit-line-clamp: 1;
    }

    .playlist-item-description {
        color: var(--text-subdued);
        font-size: 0.9rem;
        font-weight: 400;
        -webkit-line-clamp: 2;
    }

    --colums: 7;

    @media screen and (max-width: 1700px) {
        --colums: 6;
    }

    @media screen and (max-width: 1500px) {
        --colums: 5;
    }

    @media screen and (max-width: 1300) {
        --colums: 4;
    }

    --width-colum: calc(100% / var(--colums) - 25px);

    min-width: var(--width-colum);
    max-width: var(--width-colum);
}

/* Playlist Page */

.playlist-page-header {
    display: flex;
    color: var(--text-base);
    height: 300px;
    gap: 30px;

    .image {
        box-shadow: 0 4px 60px rgba(0,0,0,.5);
    }

    .name {
        font-size: 6rem;
    }

    .type {
        font-size: 0.8125rem;
    }

    .description {
        ont-size: 0.8125rem;
        color: var(--text-subdued);
    }
}

/* Actions */
.playlist-page-actions {
    display: flex;
    gap: 30px;

    .follow-button, .more-button {
        color: #bbc2bd;
    }
}

/* Table */

.playlist-page-table {
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 100%;

    & thead {
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        position: sticky;
        top: 65px;
        padding: 0 10px;
    }

    & tbody tr:first-child {
        display: block;
        height: 20px;
        width: 30px;
    }

    & th {
        color: var(--text-base);
        font-size: 0.8125rem;
        font-weight: 700;
        text-align: left;
        padding: 10px 0;
    }

    & td:first-child, & th:first-child {
        text-align: center;
        color: var(--text-subdued);
        font-size: 1rem;

        position: relative;
    }

    & td {
        color: var(--text-subdued);
        font-size: 0.8125rem;
        font-weight: 400;
        text-align: left;
        padding: 10px 0;

        &:nth-child(2) {
            display: flex;
            gap: 10px;

            & a {
                color: var(--text-base);
                font-size: 1rem;
            }
        }
    }

    & svg {
        color: var(--text-subdued);
    }

    .play svg {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .like svg, .more svg, .play svg {
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    & tbody tr:hover {
        background-color: #282828;

        .like svg, .more svg, .play svg {
            visibility: visible;
        }

        .play span {
            visibility: hidden;
        }
    }
}
